<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/login.css">
    <title>Login - ERP</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
    <div id="login-box">

        <div id="logo-container">
            <img src="../static/college-logo.png" alt="LOGO" id="logo-img">
        </div>
        <div id="login-items">
            <img src="../static/account_icon.svg" alt="account_icon" id="account-icon">
            <h3>Student Login</h3>
            <form id="login-form">
                <input type="text" placeholder=" Username ">
                <input type="password" placeholder=" Password ">
                <button type="button" onclick="location.href='../home/home.html'">Login</button>
                <a href="">Forgot password</a>
            </form>
        </div>
    </div>
    </div>
</body>

