<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matrix Calculator</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <h1>Matrix Calculator</h1>
    </header>
    <main>
      <form id="container" method="POST">
        <div id="calc-container">
            <div class="matrix">
            {% for _ in range(9) %}
                <div class="input-container"><input type="text" value="0" required name="a[]"></div>
                {% endfor %}
                </div>

            <div class="input-container">
                <input id="operator-input" maxlength="1" type="value" name="op">
            </div>

            <div class="matrix">
            {% for _ in range(9) %}
                <div class="input-container"><input type="text" value="0" required name="b[]"></div>
            {% endfor %}
            </div>
        </div>
        <button>Calculate</button>
      </form>

      <h2>Result: </h2>
        <div class="matrix">
        {% for _ in range(9) %}
            <div class="input-container"><input type="text" value="{{result[_]}}" disabled="True"></div>
        {% endfor %}
        </div>

      {% if noError==False %}
        <h3>Enter only numbers and a valid operator</h3>
      {% endif %}
    </main>
    <br><br>
    <footer>
        <p>&copy; 2025 Matrix Calculator</p>
    </footer>
</body>
</html>