<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matrix Calculator</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Matrix Calculator</h1>
    <div id="calc">
    <form id="calc-inp">
        <div class="matrix">
        {% for _ in range(rows*columns) %}<input type="text" name="a[]">{% endfor %}
        </div>

        <input type="text" maxlength="1" id="op" name="op">

        <div class="matrix">
        {% for _ in range(rows*columns) %}
            <input type="text" name="b[]">
        {% endfor %}
        </div>

        <button> = </button>
    </form>

    <div class="matrix" id="result">
    {% for _ in range(rows*columns) %}
            <input type="text">
    {% endfor %}
    </div>
    </div>
</body>
</html>