*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: sans-serif;
}

body{
    background-color: rgb(26, 26, 26);
}

header div{
    background-color: rgb(41, 41, 41);
    padding: 16;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
}

h1{
    color: rgb(230, 230, 230);
    font-size: 2em;
}

#inp-container{
    display: flex;
    flex-direction: column;

    border: 2px solid rgba(255, 255, 255, 0.726);

    width: fit-content;
    height: fit-content;

    padding: 8 16 8 16;
    margin: 32 auto 0 auto;
}

#inp-container h2{
    align-self: center;

    margin-bottom: 0.5em;
    margin-top: 0.25em;

    text-decoration: underline;
}

.equation{
    font-size: 2em;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.equation div {
    display: flex;
    height: 1.5em;
    align-items: center;

    gap: 5px;
}

.equation div input, .result input{
    width: 2.6em;
    height: 2em;

    outline: 0;
    border: 0;
    border-bottom: 2px solid gray;
    background: transparent;

    text-align: center;
}

.equation input:focus-visible{
    border-color: white;
}

input:focus-visible{
    outline: none;
}

button{
    border: 2px solid rgba(255, 255, 255, 0.151);
    border-radius: 5px;
    cursor: pointer;
}

#solve{
    color: rgb(255, 255, 255);
    background-color: rgb(27, 27, 27);

    height: 2.5em;
    width: 5em;

    margin-top: 1.5em;
    margin-bottom: 0.5em;
    margin-inline: auto;
}

#solve:hover{
    background-color: rgb(48, 48, 48);
}

#solve:active{
    background-color: rgb(66, 66, 66);
}

.result{
    width: fit-content;

    text-align: center;
    font-size: 2em;
    margin-top: 3em;
    margin-left: 16px;

    border: 2px solid white;

    border-collapse: collapse;
}

.result tr :first-child{
    padding-left: 0.5em;
}

.result tr :last-child{
    padding-right: 0.5em;
}

.result input{
    width: 4.5em;
    text-align: start;
}

.result tr{
    border: 2px solid rgba(255, 255, 255, 0.658);
}

.result tr td{
    box-sizing: border-box;
    height: 2em;
}

footer{
    margin-top: auto;
}