*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: sans-serif;
}

body{
    background-color: rgb(26, 26, 26);
    display: flex;
    flex-direction: column;
    height: 100%;
}

#login-box, #offline-msg{
    border: 2px solid rgb(216, 216, 216);
    min-width: 2.75in;
    min-height: auto;
    overflow-wrap: anywhere;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: auto;

    padding: 1em;
    margin-top: 20%;
}

#login-box h2{
    margin-bottom: 0.5em;
    text-decoration: underline;
}

#login-box, #offline-msg button{
    box-sizing: border-box;

    color: gray;
    background-color: black;

    height: 2em;
    min-width: 20%;

    align-self: center;

    margin-top: 0.5em;

    padding-inline: 10px;

    font-weight: bold;
}

main#container{
    display: flex;
    margin: 32 auto 16 auto;
    align-items: center;
    gap: 1em;
}

header div{
    background-color: rgb(41, 41, 41);
    padding: 16;
}

h1{
    color: rgb(230, 230, 230);
    font-size: 2em;
}

#inp-container{
    display: flex;
    flex-direction: column;

    border: 2px solid rgba(255, 255, 255, 0.726);

    width: fit-content;
    height: fit-content;

    padding: 8 16 8 16;
}

#inp-container h2{
    align-self: center;

    margin-bottom: 0.5em;
    margin-top: 0.25em;

    text-decoration: underline;
}

.equation{
    font-size: 2em;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.equation div {
    display: flex;
    height: 1.5em;
    align-items: center;

    gap: 5px;
}

.equation div input, .result input{
    width: 2.6em;
    height: 2em;

    outline: 0;
    border: 0;
    border-bottom: 2px solid gray;
    background: transparent;
}

.equation input{
    text-align: end;
}

.result input{
    text-align: start;
}

.equation input:focus-visible{
    border-color: white;
}

input:focus-visible{
    outline: none;
}

button{
    border: 2px solid rgba(255, 255, 255, 0.151);
    border-radius: 5px;
    cursor: pointer;
}

#solve{
    color: rgb(255, 255, 255);
    background-color: rgb(27, 27, 27);

    height: 2.5em;
    width: 5em;

    margin-top: 1.5em;
    margin-bottom: 0.5em;
    margin-inline: auto;
}

#solve:hover{
    background-color: rgb(48, 48, 48);
}

#solve:active{
    background-color: rgb(66, 66, 66);
}

.result{
    width: fit-content;
    max-height: 6em;

    text-align: center;
    font-size: 2em;
    margin-top: 0;
    margin-left: 0;

    border: 2px solid white;

    border-collapse: collapse;
}

.result tr :first-child{
    padding-left: 0.5em;
}

.result tr :last-child{
    padding-right: 0.5em;
}

.result input{
    width: 4.5em;
    text-align: start;
}

.result tr{
    border: 2px solid rgba(255, 255, 255, 0.658);
}

.result tr td{
    box-sizing: border-box;
    height: 2em;
}

footer{
    margin-top: auto;
}

@media (max-aspect-ratio: 1) {
    .equation{
    font-size: 1.5em;
    }

    .equation div input, .result input{
    width: 1.95em;
    }

    main#container{
    flex-direction: column;
    align-items: flex-start;
    }

}