.box{
    display: flex;
    text-align: center;
    width: 100%;
}

.red{
    background: brown;
    flex-grow: 1;
}

.blue{
    background: darkcyan;
    flex-grow: 2;
}

.bg-dark{
    background: black
}