<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linear Equation Solver</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <div>
            <h1>Linear Equation Solver</h1>
        </div>
    </header>

    <main id="container">
        <form action="/calculate" method="POST" id="inp-container">
            <h2>Equations</h2>

            <div class = equation>
            {% for i in range(3) %}
                <div>
                <input type="text" name="eq1" value="{{eq[0][i]}}"><span>{{varNm[i]}}</span>
                </div>
                <span>+</span>
            {% endfor %}
                <div>
                <input type="text" name="eq1" value="{{eq[0][-1]}}">
                </div>

                <div>
                    = 0
                </div>
            </div>

            <div class = equation>
            {% for i in range(3) %}
                <div>
                <input type="text" name="eq2" value="{{eq[1][i]}}"><span>{{varNm[i]}}</span>
                </div>

                <span>+</span>
            {% endfor %}

                <div>
                <input type="text" name="eq2" value="{{eq[1][-1]}}">
                </div>

                <div>
                    = 0
                </div>
            </div>

            <div class = equation>
            {% for i in range(3) %}
                <div>
                <input type="text" name="eq3" value="{{eq[2][i]}}"><span>{{varNm[i]}}</span>
                </div>

                <span>+</span>
            {% endfor %}

                <div>
                <input type="text" name="eq3" value="{{eq[2][-1]}}">
                </div>

                <div>
                    = 0
                </div>
            </div>

            <button id="solve">Solve</button>
        </form>
        <table class="result">
            <tr>
                <td>x =</td>
                <td><input type="text" disabled value="{{result[0]}}"></td>
            </tr>
            <tr>
                <td>y =</td>
                <td><input type="text" disabled value="{{result[1]}}"></td>
            </tr>
            <tr>
                <td>z =</td>
                <td><input type="text" disabled value="{{result[2]}}"></td>
            </tr>
        </table>
    </main>

    <footer>
        <p>
            &copy Linear Equation Solver
        </p>
        <p>
            Infringement can lead to a fine of upto 0.00
        </p>
    </footer>
    <script src="../static/script.js"></script>
</body>
</html>