<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linear Equation Solver</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <div>
            <h1>Linear Equation Solver</h1>
        </div>
    </header>

    <main id="container">
        <form action="/calculate" method="POST" id="inp-container">
            <h2>Equations</h2>
            <div class = equation>
                <div>
                <input type="text" name="eq1" value="{{eq1[0]}}"><span>x</span>
                </div>

                <span>+</span>

                <div>
                <input type="text" name="eq1" value="{{eq1[1]}}"><span>y</span>
                </div>
                
                <span>+</span>

                <div>
                <input type="text" name="eq1" value="{{eq1[2]}}"><span>z</span>
                </div>

                <span>+</span>
                
                <div>
                <input type="text" name="eq1" value="{{eq1[3]}}">
                </div>

                <div>
                    = 0
                </div>
            </div>
            <div class="equation">
                <div>
                <input type="text" name="eq2" value="{{eq2[0]}}"><span>x</span>
                </div>

                <span>+</span>

                <div>
                <input type="text" name="eq2" value="{{eq2[1]}}"><span>y</span>
                </div>
                
                <span>+</span>

                <div>
                <input type="text" name="eq2" value="{{eq2[2]}}"><span>z</span>
                </div>

                <span>+</span>
                
                <div>
                <input type="text" name="eq2" value="{{eq2[3]}}">
                </div>

                <div>
                    = 0
                </div>
            </div>
            <div class = equation>
                <div>
                <input type="text" name="eq3" value="{{eq3[0]}}"><span>x</span>
                </div>

                <span>+</span>

                <div>
                <input type="text" name="eq3" value="{{eq3[1]}}"><span>y</span>
                </div>
                
                <span>+</span>

                <div>
                <input type="text" name="eq3" value="{{eq3[2]}}"><span>z</span>
                </div>

                <span>+</span>
                
                <div>
                <input type="text" name="eq3" value="{{eq3[3]}}">
                </div>

                <div>
                    = 0
                </div>
            </div>

            <button id="solve">Solve</button>
        </form>
        <table class="result">
            <tr>
                <td>x =</td>
                <td><input type="text" disabled value="{{result[0]}}"></td>
            </tr>
            <tr>
                <td>y =</td>
                <td><input type="text" disabled value="{{result[1]}}"></td>
            </tr>
        </table>
    </main>

    <footer>
        <p>
            &copy Linear Equation Solver
        </p>
        <p>
            Infringement can lead to a fine of upto 0.00
        </p>
    </footer>
    <script src="../static/script.js"></script>
</body>
</html>