<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linear Equation Solver</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <div>
            <h1>Linear Equation Solver</h1>
        </div>
    </header>

    <main id="container">
        <form action="/calculate" id="inp-container">
            <div class = equation>
                <div>
                <input type="text" name="eq1[]"><span>x</span>
                </div>

                <span>+</span>

                <div>
                <input type="text" name="eq1[]"><span>y</span>
                </div>
                
                <span>+</span>

                <div>
                <input type="text" name="eq1[]"><span>z</span>
                </div>

                <span>+</span>
                
                <div>
                <input type="text" name="eq1[]">
                </div>

                <div>
                    = 0
                </div>
            </div>
            <div class="equation">
                <div>
                <input type="text" name="eq1[]"><span>x</span>
                </div>

                <span>+</span>

                <div>
                <input type="text" name="eq1[]"><span>y</span>
                </div>
                
                <span>+</span>

                <div>
                <input type="text" name="eq1[]"><span>z</span>
                </div>

                <span>+</span>
                
                <div>
                <input type="text" name="eq1[]">
                </div>

                <div>
                    = 0
                </div>
            </div>
        </form>
        <table class="result">
            <tr>
                <td>x =</td>
                <td><input type="text" name="result[]" disabled></td>
            </tr>
            <tr>
                <td>y =</td>
                <td><input type="text" name="result[]" disabled></td>
            </tr>
        </table>
    </main>

    <footer>
        <p>
            &copy Linear Equation Solver
        </p>
        <p>
            Infingement can lead to a fine of upto 0.00
        </p>
    </footer>

</body>
</html>